*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  min-height: 100vh;
  font-family: "Poppins";
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
  perspective: 1000px;
}
.transform {
  transform: translateZ(15rem);
}
.container {
  width: 50%;
  display: flex;
  justify-content: center;
}
.card {
  transform-style: preserve-3d;
  min-height: 80vh;
  border-radius: 3rem;
  padding: 0 5rem;
  width: 35rem;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.227), 0 0 50px rgba(0, 0, 0, 0.227);
}
.sneaker {
  min-height: 35vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sneaker img {
  width: 20rem;
  transition: all 0.75s ease-out;
}
.circle {
  width: 15rem;
  position: absolute;
  z-index: -1;
  height: 15rem;
  border-radius: 50%;
  background: linear-gradient(
    to right,
    rgba(245, 70, 60, 0.75),
    rgba(8, 83, 156, 0.75)
  );
}
.info h1 {
  font-size: 2.2rem;
  transition: all 0.75s ease-out;
  transform: translateZ(60rem);
}
.info h3 {
  font-size: 1.6rem;
  color: #585858;
  padding: 2rem 0;
  font-weight: lighter;
  transition: all 0.75s ease-out;
}
.sizes {
  display: flex;
  margin-top: 2rem;
  justify-content: space-between;
  transition: all 0.75s ease-out;
}
.sizes button {
  padding: 0.5rem 2rem;
  background: none;
  border: none;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 3rem;
  font-size: 1.2rem;
}
.purchase {
  transition: all 0.75s ease-out;
  margin-top: 2rem;
}
.purchase button {
  padding: 1rem 0;
  color: #fff;
  background: #f54642;
  border: none;
  width: 100%;
  border-radius: 3rem;
  font-weight: bolder;
}
